In [10]:
import pandas as pd
import sys
import os
from functools import reduce

In [11]:
#Import each Excel file

df_11_09 = pd.read_excel('/Users/kayh/Documents/DS4A/team_81_project/ds4a81_project/Original Datasets/Feeding_America_Data/MMG2011_2009Data_ToShare.xlsx', sheet_name='County')

df_12_10 = pd.read_excel('/Users/kayh/Documents/DS4A/team_81_project/ds4a81_project/Original Datasets/Feeding_America_Data/MMG2012_2010Data_ToShare.xlsx', sheet_name= 'County')

df_13_11 = pd.read_excel('/Users/kayh/Documents/DS4A/team_81_project/ds4a81_project/Original Datasets/Feeding_America_Data/MMG2013_2011Data_ToShare.xlsx', sheet_name= '2011 County')

df_14_12 = pd.read_excel('/Users/kayh/Documents/DS4A/team_81_project/ds4a81_project/Original Datasets/Feeding_America_Data/MMG2014_2012Data_ToShare.xlsx', sheet_name= '2012 County')

df_15_13 = pd.read_excel('/Users/kayh/Documents/DS4A/team_81_project/ds4a81_project/Original Datasets/Feeding_America_Data/MMG2015_2013Data_ToShare.xlsx', sheet_name= '2013 County')

df_16_14 = pd.read_excel('/Users/kayh/Documents/DS4A/team_81_project/ds4a81_project/Original Datasets/Feeding_America_Data/MMG2016_2014Data_ToShare.xlsx', sheet_name= '2014 County')

df_17_15 = pd.read_excel('/Users/kayh/Documents/DS4A/team_81_project/ds4a81_project/Original Datasets/Feeding_America_Data/MMG2017_2015Data_ToShare.xlsx', sheet_name= '2015 County')

df_18_16 = pd.read_excel('/Users/kayh/Documents/DS4A/team_81_project/ds4a81_project/Original Datasets/Feeding_America_Data/MMG2018_2016Data_ToShare.xlsx', sheet_name= '2016 County')

df_19_17 = pd.read_excel('/Users/kayh/Documents/DS4A/team_81_project/ds4a81_project/Original Datasets/Feeding_America_Data/MMG2019_2017Data_ToShare.xlsx', sheet_name= '2017 County')

df_20_18 = pd.read_excel('/Users/kayh/Documents/DS4A/team_81_project/ds4a81_project/Original Datasets/Feeding_America_Data/MMG2020_2018Data_ToShare.xlsx', sheet_name= '2018 County')

In [12]:
#Make sure all the column names match so we can merge them. (I had to divide them up into separate cells because my kernal kept crashing when I was
# trying to run it all in one go.)

df_11_09 = df_11_09.rename(columns={'State Name':'State',
    'FI Rate':'Food Insecurity Rate',
    'Number Food Insecure Individuals':'Number of Food Insecure Persons',
    'Weighted Annual Dollars':'Weighted Annual Food Budget Shortfall', 
    'Child FI Rate':'Child food insecurity rate',
    'Number Food Insecure Children':'Number of Food Insecure Children',
    '% of children in FI HH with HH incomes at or below 185% FPL':'% food insecure children in HH w/ HH incomes below 185 FPL',
    '% of children in FI HH with HH incomes above 185% FPL':'% food insecure children in HH w/ HH incomes above 185 FPL'})

df_12_10 = df_12_10.rename(columns={'2010 Food Insecurity Rate':'Food Insecurity Rate',
    'Number of Food Insecure Persons in 2010':'Number of Food Insecure Persons',
    '2010 Child food insecurity rate':'Child food insecurity rate',
    'Number of Food Insecure Children in 2010 ':'Number of Food Insecure Children',
    '2010 Cost Per Meal':'Cost Per Meal', 
    '2010 Weighted Annual Food Budget Shortfall':'Weighted Annual Food Budget Shortfall',
    '% of food insecure children in HH w/ HH incomes above 185 FPL':'% food insecure children in HH w/ HH incomes above 185 FPL'})

df_13_11 = df_13_11.rename(columns={'2011 Food Insecurity Rate':'Food Insecurity Rate',
    'Number of Food Insecure Persons in 2011':'Number of Food Insecure Persons',
    '2011 Child Food Insecurity Rate':'Child food insecurity rate',
    'Number of Food Insecure Children in 2011':'Number of Food Insecure Children',
    '% of food insecure children in HH w/ HH incomes above 185 FPL':'% food insecure children in HH w/ HH incomes above 185 FPL'})

In [13]:
df_14_12 = df_14_12.rename(columns={'2012 Food Insecurity Rate':'Food Insecurity Rate',
       '# of Food Insecure Persons in 2012':'Number of Food Insecure Persons',
       '2012 Child food insecurity rate':'Child food insecurity rate',
       '# of Food Insecure Children in 2012':'Number of Food Insecure Children',
       '% food insecure children in HH w/ HH incomes below 185 FPL in 2012':'% food insecure children in HH w/ HH incomes below 185 FPL',
       '% food insecure children in HH w/ HH incomes above 185 FPL in 2012':'% food insecure children in HH w/ HH incomes above 185 FPL',
       '2012 Cost Per Meal':'Cost Per Meal', '2012 Weighted Annual Food Budget Shortfall':'Weighted Annual Food Budget Shortfall'})

df_15_13 = df_15_13.rename(columns={'2013 Food Insecurity Rate':'Food Insecurity Rate',
       '# of Food Insecure Persons in 2013':'Number of Food Insecure Persons',
       '2013 Child food insecurity rate':'Child food insecurity rate',
       '# of Food Insecure Children in 2013':'Number of Food Insecure Children',
       '% food insecure children in HH w/ HH incomes below 185 FPL in 2013':'% food insecure children in HH w/ HH incomes below 185 FPL',
       '% food insecure children in HH w/ HH incomes above 185 FPL in 2013':'% food insecure children in HH w/ HH incomes above 185 FPL',
       '2013 Cost Per Meal':'Cost Per Meal', '2013 Weighted Annual Food Budget Shortfall':'Weighted Annual Food Budget Shortfall'})

df_16_14 = df_16_14.rename(columns={'2014 Food Insecurity Rate':'Food Insecurity Rate',
       '# of Food Insecure Persons in 2014':'Number of Food Insecure Persons',
       '2014 Child food insecurity rate':'Child food insecurity rate',
       '# of Food Insecure Children in 2014':'Number of Food Insecure Children',
       '% food insecure children in HH w/ HH incomes below 185 FPL in 2014':'% food insecure children in HH w/ HH incomes below 185 FPL',
       '% food insecure children in HH w/ HH incomes above 185 FPL in 2014':'% food insecure children in HH w/ HH incomes above 185 FPL',
       '2014 Cost Per Meal':'Cost Per Meal', '2014 Weighted Annual Food Budget Shortfall':'Weighted Annual Food Budget Shortfall'})

In [14]:
df_17_15 = df_17_15.rename(columns={'2015 Food Insecurity Rate':'Food Insecurity Rate',
       '# of Food Insecure Persons in 2015':'Number of Food Insecure Persons',
       '2015 Child food insecurity rate':'Child food insecurity rate',
       '# of Food Insecure Children in 2015':'Number of Food Insecure Children',
       '% food insecure children in HH w/ HH incomes below 185 FPL in 2015':'% food insecure children in HH w/ HH incomes below 185 FPL',
       '% food insecure children in HH w/ HH incomes above 185 FPL in 2015':'% food insecure children in HH w/ HH incomes above 185 FPL',
       '2015 Cost Per Meal':'Cost Per Meal', '2015 Weighted Annual Food Budget Shortfall':'Weighted Annual Food Budget Shortfall'})

df_18_16 = df_18_16.rename(columns={'2016 Food Insecurity Rate':'Food Insecurity Rate',
       '# of Food Insecure Persons in 2016':'Number of Food Insecure Persons',
       '2016 Child food insecurity rate':'Child food insecurity rate',
       '# of Food Insecure Children in 2016':'Number of Food Insecure Children',
       '% food insecure children in HH w/ HH incomes below 185 FPL in 2016':'% food insecure children in HH w/ HH incomes below 185 FPL',
       '% food insecure children in HH w/ HH incomes above 185 FPL in 2016':'% food insecure children in HH w/ HH incomes above 185 FPL',
       '2016 Cost Per Meal':'Cost Per Meal', '2016 Weighted Annual Food Budget Shortfall':'Weighted Annual Food Budget Shortfall'})

df_19_17 = df_19_17.rename(columns={'2017 Food Insecurity Rate':'Food Insecurity Rate',
       '# of Food Insecure Persons in 2017':'Number of Food Insecure Persons',
       '2017 Child food insecurity rate':'Child food insecurity rate',
       '# of Food Insecure Children in 2017':'Number of Food Insecure Children',
       '% food insecure children in HH w/ HH incomes below 185 FPL in 2017':'% food insecure children in HH w/ HH incomes below 185 FPL',
       '% food insecure children in HH w/ HH incomes above 185 FPL in 2017':'% food insecure children in HH w/ HH incomes above 185 FPL',
       '2017 Cost Per Meal':'Cost Per Meal', '2017 Weighted Annual Food Budget Shortfall':'Weighted Annual Food Budget Shortfall'})

In [15]:
#Now we want to add a column to each data set that indicates the year. 
#This will allow us to normalize all of the columns in every dataframe so they match and we can merge them together
#Note that we're excluding the df_20_18 dataset because the the MMG study had methodological changes which meant the data isn't directly comparable

df_11_09['Year'] = '2009'
df_12_10['Year'] = '2010'
df_13_11['Year'] = '2011'
df_14_12['Year'] = '2012'
df_15_13['Year'] = '2013'
df_16_14['Year'] = '2014'
df_17_15['Year'] = '2015'
df_18_16['Year'] = '2016'
df_19_17['Year'] = '2017'

In [16]:
#Since each dataframe already has a "state" column, it was easier to drop these additional county columns. We can pull them back in later if necessary)

df_11_09_drop = df_11_09.drop(columns=['County Code'])
df_12_10_drop = df_12_10.drop(columns=['County, State'])
df_13_11_drop = df_13_11.drop(columns=['County, State'])
df_14_12_drop = df_14_12.drop(columns=['County, State'])
df_15_13_drop = df_15_13.drop(columns=['County, State'])
df_16_14_drop = df_16_14.drop(columns=['County, State'])
df_17_15_drop = df_17_15.drop(columns=['County, State'])
df_18_16_drop = df_18_16.drop(columns=['County, State'])
df_19_17_drop = df_19_17.drop(columns=['County, State'])

In [18]:
#Combine all the dataframes into a single one
all_fa_data = pd.concat([df_11_09_drop,df_12_10_drop,df_13_11_drop,df_14_12_drop,df_15_13_drop,df_16_14_drop,df_17_15_drop,df_18_16_drop,df_19_17_drop])

all_fa_data

,State,FIPS,Food Insecurity Rate,Number of Food Insecure Persons,Low Threshold in state,Low Threshold Type,High Threshold in state,High Threshold Type,% FI ≤ Low Threshold,% FI Btwn Thresholds,% FI > High Threshold,Weighted Annual Food Budget Shortfall,Cost Per Meal,Child food insecurity rate,Number of Food Insecure Children,% food insecure children in HH w/ HH incomes below 185 FPL,% food insecure children in HH w/ HH incomes above 185 FPL,Year
0,AK,2013.0,0.151,450.0,1.3,SNAP,1.85,other nutrition pgm,0.650,0.340,0.000,NaN,NaN,0.248,100.0,0.513,0.487,2009
1,AK,2016.0,0.136,750.0,1.3,SNAP,1.85,other nutrition pgm,0.500,0.330,0.170,NaN,NaN,0.178,100.0,0.327,0.673,2009
2,AK,2020.0,0.119,33260.0,1.3,SNAP,1.85,other nutrition pgm,0.340,0.150,0.510,NaN,NaN,0.186,13680.0,0.489,0.511,2009
3,AK,2050.0,0.211,3620.0,1.3,SNAP,1.85,other nutrition pgm,0.590,0.270,0.140,NaN,NaN,0.314,1940.0,0.75,0.25,2009
4,AK,2060.0,0.095,60.0,1.3,SNAP,1.85,other nutrition pgm,0.240,0.360,0.400,NaN,NaN,0.166,40.0,0.476,0.524,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,WY,56037.0,0.107,4750.0,1.3,SNAP,1.85,Other Nutrition Program,0.430,0.128,0.442,2542000.0,3.14,0.17,2030.0,0.51,0.49,2017
3138,WY,56039.0,0.097,2220.0,1.3,SNAP,1.85,Other Nutrition Program,0.360,0.167,0.473,1592000.0,4.20,0.117,520.0,0.56,0.44,2017
3139,WY,56041.0,0.128,2660.0,1.3,SNAP,1.85,Other Nutrition Program,0.562,0.074,0.365,1340000.0,2.95,0.189,1160.0,0.64,0.36,2017
3140,WY,56043.0,0.112,920.0,1.3,SNAP,1.85,Other Nutrition Program,0.505,0.172,0.323,497000.0,3.16,0.174,350.0,0.74,0.27,2017
3141,WY,56045.0,0.131,940.0,1.3,SNAP,1.85,Other Nutrition Program,0.417,0.119,0.464,505000.0,3.15,0.202,300.0,0.61,0.4,2017

In [29]:
#Export final dataframe to a csv file in the Cleaned Datasets folder
all_fa_data.to_csv(r'cleaned_fa_data.csv')