In [1]:
import pandas as pd
import sys
import os
from functools import reduce
import pandas as pd
import glob2
import seaborn

In [25]:
food_security = pd.read_csv('/Users/kayh/Documents/DS4A/team_81_project/Cleaned Datasets/cleaned_fa_data.csv')

#Drop unnamed column
food_security = food_security.drop('Unnamed: 0', axis=1)

#Replace state abbreviations with state names
states = {'AK': 'Alaska',
    'AL': 'Alabama',
    'AR': 'Arkansas',
    'AZ': 'Arizona',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DC': 'District of Columbia',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'IA': 'Iowa',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'MA': 'Massachusetts',
    'MD': 'Maryland',
    'ME': 'Maine',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MO': 'Missouri',
    'MS': 'Mississippi',
    'MT': 'Montana',
    'NA': 'National',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'NE': 'Nebraska',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NV': 'Nevada',
    'NY': 'New York',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VA': 'Virginia',
    'VT': 'Vermont',
    'WA': 'Washington',
    'WI': 'Wisconsin',
    'WV': 'West Virginia',
    'WY': 'Wyoming'
    }
food_security = food_security.replace({'State': states})

#We want to focus on only a few of these columns so we'll subset this dataframe with just the columns we want
food_security = food_security[['State','Food Insecurity Rate','Child food insecurity rate', 'Year']]

#Save our changes
food_security.to_csv('/Users/kayh/Documents/DS4A/team_81_project/To_Data_Studio/food_security.csv')

In [35]:
dropout_rates = pd.read_excel('/Users/kayh/Documents/DS4A/Working_Data/Teens ages 16 to 19 not in school and not high school graduates.xlsx')

#Rename Headers
dropout_rates = dropout_rates.rename(columns = {'Location':'State','TimeFrame':'Year'})

#Remove Percents rows & then drop the DataFormat column
dropout_rates = dropout_rates[~dropout_rates['DataFormat'].str.contains('Percent')]
dropout_rates=dropout_rates.drop('DataFormat',axis=1)

#Remove Territories/Nation rows & then remove the LocationType column
drop_these = ['Territory','Nation']
dropout_rates = dropout_rates[~dropout_rates['LocationType'].isin(drop_these)]
dropout_rates = dropout_rates.drop('LocationType', axis=1).reset_index(drop=True)

dropout_rates.set_index('State',inplace=True)

#Save our changes
dropout_rates.to_csv('/Users/kayh/Documents/DS4A/team_81_project/To_Data_Studio/dropoutrates.csv')

In [36]:
dropout_rates

         Year   Data
State
Alabama  2019  10000
Alabama  2016  10000
Alabama  2017  13000
Alabama  2012  16000
Alabama  2014  14000
...       ...    ...
Wyoming  2004   2000
Wyoming  2003   2000
Wyoming  2002   2000
Wyoming  2001   3000
Wyoming  2000   3000

[1020 rows x 2 columns]

In [ ]:
#This data was previously found & cleaned by team member: Kaylynne
#Additional data cleaning & exploratory analysis by team member: Claudia

state_fund = pd.read_

In [29]:
#This data was previously found & cleaned by team member: Kaylynne
#Additional data cleaning & exploratory analysis by team member: Shayla

fed_fund = pd.read_csv('/Users/kayh/Documents/DS4A/team_81_project/Isolated_Metrics/fed_funding.csv')

#Drop unnamed column
fed_fund = fed_fund.drop('Unnamed: 0', axis=1)

#Replace STATE Fips with State names
fips_states = {2: 'Alaska',
    1: 'Alabama',
    3: 'American Samoa',
    5: 'Arkansas',
    4: 'Arizona',
    6: 'California',
    7: 'Canal Zone',
    8: 'Colorado',
    9: 'Connecticut',
    11: 'District of Columbia',
    10: 'Delaware',
    12: 'Florida',
    13: 'Georgia',
    14: 'Guam',
    15: 'Hawaii',
    19: 'Iowa',
    16: 'Idaho',
    17: 'Illinois',
    18: 'Indiana',
    20: 'Kansas',
    21: 'Kentucky',
    22: 'Louisiana',
    25: 'Massachusetts',
    24: 'Maryland',
    23: 'Maine',
    26: 'Michigan',
    27: 'Minnesota',
    29: 'Missouri',
    28: 'Mississippi',
    30: 'Montana',
    37: 'North Carolina',
    38: 'North Dakota',
    31: 'Nebraska',
    33: 'New Hampshire',
    34: 'New Jersey',
    35: 'New Mexico',
    32: 'Nevada',
    36: 'New York',
    39: 'Ohio',
    40: 'Oklahoma',
    41: 'Oregon',
    42: 'Pennsylvania',
    44: 'Rhode Island',
    43: 'Puerto Rico',
    45: 'South Carolina',
    46: 'South Dakota',
    47: 'Tennessee',
    48: 'Texas',
    49: 'Utah',
    51: 'Virginia',
    50: 'Vermont',
    53: 'Washington',
    55: 'Wisconsin',
    54: 'West Virginia',
    56: 'Wyoming'
    }

fed_fund = fed_fund.replace({'STATE': fips_states})

#Drop STATE rows that are territories
fed_fund = fed_fund[~fed_fund['STATE'].str.contains('American Samoa')]
fed_fund = fed_fund[~fed_fund['STATE'].str.contains('Canal Zone')]
fed_fund = fed_fund[~fed_fund['STATE'].str.contains('Guam')]
fed_fund = fed_fund[~fed_fund['STATE'].str.contains('Puerto Rico')]

#Replace Year of Data with full YYYY
years = {9:2009, 10:2010, 11:2011, 12:2012, 13:2013, 14:2014, 15:2015, 16:2016, 17:2017}
fed_fund = fed_fund.replace({'Year of Data': years})

#Replace Header Names
fed_fund = fed_fund.rename(columns = {'STATE':'State','Year of Data':'Year','Total Revenue from Federal Sources':'Total Federal Revenue'})

#Save our changes
fed_fund.to_csv('/Users/kayh/Documents/DS4A/team_81_project/To_Data_Studio/fedfund.csv')

           State  Year  Total Federal Revenue
675     Arkansas  2015                   5283
676     Arkansas  2015                    269
677     Arkansas  2015                   1172
678     Arkansas  2015                  27259
679     Arkansas  2015                   1655
...          ...   ...                    ...
117423  Arkansas  2016                    191
117424  Arkansas  2016                  12696
117425  Arkansas  2016                    659
117426  Arkansas  2016                   2587
117427  Arkansas  2016                    445

[9537 rows x 3 columns]

In [22]:
#This data was previously found & cleaned by team member: Claudia 
poverty = pd.read_csv('/Users/kayh/Documents/DS4A/team_81_project/Cleaned Datasets/child_poverty.csv')

poverty.to_csv('/Users/kayh/Documents/DS4A/team_81_project/To_Data_Studio/childpoverty.csv')

In [16]:
teacher_pay = pd.read_csv('/Users/kayh/Documents/DS4A/team_81_project/Isolated_Metrics/teacher_salary_ests.csv')

#Drop all rows with NaN values
teacher_pay = teacher_pay.dropna()

#We're only pulling 10 years of data here so we can actually drop the first column
teacher_pay = teacher_pay.drop('2008-09', axis=1)

#Since we're running all these datasets up against each other - we need to make all the dates the same YYYY format
teacher_pay = teacher_pay.rename(columns = {'2009-10':'2009','2010-11':'2010','2011-12':'2011','2012-13':'2012','2013-14':'2013','2014-15':'2014','2015-16':'2015','2016-17':'2016','2017-18':'2017','2018-19':'2018'})

#We need to get rid of those dots after each state name
teacher_pay['State'] = teacher_pay['State'].str.split(' .',expand=True)

#We can drop the first row since that row is just totals (and Data Studio isn't a fan)
teacher_pay = teacher_pay.iloc[1:]

#And we need to add DC's name back into the State column
teacher_pay.loc[[11],'State'] = 'District of Columbia'

#Save our changes
teacher_pay.to_csv('/Users/kayh/Documents/DS4A/team_81_project/To_Data_Studio/TeacherPay.csv')

In [31]:
#This data was previously found & cleaned by team member: Claudia 
teen_employ = pd.read_csv('/Users/kayh/Documents/DS4A/team_81_project/Cleaned Datasets/teen_employment.csv')

#Rename Headers for better clarification
teen_employ = teen_employ.rename(columns = {'Employed: Total':'Employed per 1k','Employed: Percentage':'% Employed','Unemployed: Total':'Unemployed per 1k', 'Unemployed: Percentage':'% Unemployed'})

#Save our changes
teen_employ.to_csv('/Users/kayh/Documents/DS4A/team_81_project/To_Data_Studio/teen_employment.csv')

In [51]:
#This data was previously found & cleaned by team member: Shayla
teen_preg = pd.read_csv('/Users/kayh/Documents/DS4A/team_81_project/ds4a81_project/Cleaned Datasets/teen_births_age_15_19.csv')

#Remove Unnamed: 0 column (still not sure yet where that's coming from)
teen_preg = teen_preg.drop('Unnamed: 0', axis=1)

#We can also drop the "Age Group (Years)" column -- We'll have to be sure to specify it on the presentation/dashboard that this data is specifically looking at students 15-19 years of age.
teen_preg = teen_preg.drop('Age Group (Years)', axis=1)

#Another column we can drop is the "Unit" column. We can note that the rates are per 1k either in the dataframe or in footnotes.
teen_preg = teen_preg.drop('Unit', axis=1)

#Save our changes
teen_preg.to_csv('/Users/kayh/Documents/DS4A/team_81_project/To_Data_Studio/teen_pregnancy.csv')

In [52]:
#Data Via: Data Source: U.S. Department of Education, National Center for Education Statistics, Common Core of Data (CCD), "State Nonfiscal Public Elementary/Secondary Education Survey", 2016-17 v.1a.

#This data was cleaned in the code/cleaned_student_teacher_ratios.ipynb doc so we just need to bring it in.abs

all_StuTeach = pd.read_csv('/Users/kayh/Documents/DS4A/team_81_project/To_Data_Studio/Student_Teacher_Ratios.csv')

#Remove Unnamed: 0 column (not sure yet where that's coming from)
all_StuTeach = all_StuTeach.drop('Unnamed: 0', axis=1)

#Save our changes
all_StuTeach.to_csv('/Users/kayh/Documents/DS4A/team_81_project/To_Data_Studio/Student_Teacher_Ratios.csv')

In [ ]:
counselors = pd.read_

In [15]:
parent_edu = pd.read_csv('/Users/kayh/Documents/DS4A/team_81_project/Isolated_Metrics/parent_edu_attain.csv')

#Replace state abbreviations with state names
states = {'AK': 'Alaska',
    'AL': 'Alabama',
    'AR': 'Arkansas',
    'AZ': 'Arizona',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DC': 'District of Columbia',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'IA': 'Iowa',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'MA': 'Massachusetts',
    'MD': 'Maryland',
    'ME': 'Maine',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MO': 'Missouri',
    'MS': 'Mississippi',
    'MT': 'Montana',
    'NA': 'National',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'NE': 'Nebraska',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NV': 'Nevada',
    'NY': 'New York',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VA': 'Virginia',
    'VT': 'Vermont',
    'WA': 'Washington',
    'WI': 'Wisconsin',
    'WV': 'West Virginia',
    'WY': 'Wyoming'
    }
parent_edu = parent_edu.replace({'State': states})

#Remove excess rows and NaNs
parent_edu = parent_edu.dropna()
parent_edu = parent_edu[~parent_edu['State'].str.contains('Total US')]
parent_edu = parent_edu[~parent_edu['Educational Attainment'].str.contains('Children under 15')]

#Pivot the table so that the Education Attainment column becomes multiple columns
parent_edu = pd.pivot_table(parent_edu, index = ['State','Year'], columns='Educational Attainment', values = ['Totals'])

#Rename Column Headers
parent_edu = parent_edu.rename(columns = {'Bachelor\'s degree or higher':'Bachelor Degree+','High school or equivalent':'HS Diploma or GED', 'No high school diploma':'No HS Diploma', 'Some college, less than 4-yr degree':'Some College'})

#Save our changes
parent_edu.to_csv('/Users/kayh/Documents/DS4A/team_81_project/To_Data_Studio/parentedu.csv')