In [1]:
import pandas as pd
import sys
import os
from functools import reduce
import glob2

In [2]:
pop_19 = pd.read_csv('/Users/kayh/Documents/DS4A/team_81_project/Original Datasets/Student Population/ACSST1Y2019.S1401-2021-02-09T031723.csv')
pop_19 = pop_19[2:3]
pop_19 = pop_19.transpose()
pop_19 = pop_19[1:].reset_index()
pop_19.columns=['State','Data']
pop_19['Year'] = 2019

pop_18 = pd.read_csv('/Users/kayh/Documents/DS4A/team_81_project/Original Datasets/Student Population/ACSST1Y2018.S1401-2021-02-09T031714.csv')
pop_18 = pop_18[2:3]
pop_18 = pop_18.transpose()
pop_18 = pop_18[1:].reset_index()
pop_18.columns=['State','Data']
pop_18['Year'] = 2018

pop_17 = pd.read_csv('/Users/kayh/Documents/DS4A/team_81_project/Original Datasets/Student Population/ACSST1Y2017.S1401-2021-02-09T031700.csv')
pop_17 = pop_17[2:3]
pop_17 = pop_17.transpose()
pop_17 = pop_17[1:].reset_index()
pop_17.columns=['State','Data']
pop_17['Year'] = 2017

pop_16 = pd.read_csv('/Users/kayh/Documents/DS4A/team_81_project/Original Datasets/Student Population/ACSST1Y2016.S1401-2021-02-09T031646.csv')
pop_16 = pop_16[2:3]
pop_16 = pop_16.transpose()
pop_16 = pop_16[1:].reset_index()
pop_16.columns=['State','Data']
pop_16['Year'] = 2016

pop_15 = pd.read_csv('/Users/kayh/Documents/DS4A/team_81_project/Original Datasets/Student Population/ACSST1Y2015.S1401-2021-02-09T031635.csv')
pop_15 = pop_15[2:3]
pop_15 = pop_15.transpose()
pop_15 = pop_15[1:].reset_index()
pop_15.columns=['State','Data']
pop_15['Year'] = 2015

pop_14 = pd.read_csv('/Users/kayh/Documents/DS4A/team_81_project/Original Datasets/Student Population/ACSST1Y2014.S1401-2021-02-09T031621.csv')
pop_14 = pop_14[2:3]
pop_14 = pop_14.transpose()
pop_14 = pop_14[1:].reset_index()
pop_14.columns=['State','Data']
pop_14['Year'] = 2014

pop_13 = pd.read_csv('/Users/kayh/Documents/DS4A/team_81_project/Original Datasets/Student Population/ACSST1Y2013.S1401-2021-02-09T031611.csv')
pop_13 = pop_13[2:3]
pop_13 = pop_13.transpose()
pop_13 = pop_13[1:].reset_index()
pop_13.columns=['State','Data']
pop_13['Year'] = 2013

pop_12 = pd.read_csv('/Users/kayh/Documents/DS4A/team_81_project/Original Datasets/Student Population/ACSST1Y2012.S1401-2021-02-09T031559.csv')
pop_12 = pop_12[2:3]
pop_12 = pop_12.transpose()
pop_12 = pop_12[1:].reset_index()
pop_12.columns=['State','Data']
pop_12['Year'] = 2012

pop_11 = pd.read_csv('/Users/kayh/Documents/DS4A/team_81_project/Original Datasets/Student Population/ACSST1Y2011.S1401-2021-02-09T031545.csv')
pop_11 = pop_11[2:3]
pop_11 = pop_11.transpose()
pop_11 = pop_11[1:].reset_index()
pop_11.columns=['State','Data']
pop_11['Year'] = 2011

pop_10 = pd.read_csv('/Users/kayh/Documents/DS4A/team_81_project/Original Datasets/Student Population/ACSST1Y2010.S1401-2021-02-09T031508.csv')
pop_10 = pop_10[2:3]
pop_10 = pop_10.transpose()
pop_10 = pop_10[1:].reset_index()
pop_10.columns=['State','Data']
pop_10['Year'] = 2010

In [16]:
all_pops =[pop_19,pop_18,pop_17,pop_16,pop_15,pop_15,pop_14,pop_13,pop_12,pop_11,pop_10]
popdfs = pd.concat(all_pops)
popdfs


popdfs['State'] = popdfs['State'].str.replace('!!', ' ')
popdfs[['State','Segment']] = popdfs['State'].str.split(' ', n=1, expand=True)
popdfs[['Format','Segment']] = popdfs['Segment'].str.split(' ', n=1, expand=True)
popdfs['Format'] = popdfs['Format'].str.replace('In', 'Number')

popdfs['Segment'] = popdfs['Segment'].str.replace('in public school Estimate', 'Public School')
popdfs['Segment'] = popdfs['Segment'].str.replace('public school Estimate', 'Public School')
popdfs['Segment'] = popdfs['Segment'].str.replace('in private school Estimate', 'Private School')
popdfs['Segment'] = popdfs['Segment'].str.replace('private school Estimate', 'Private School')
popdfs['Segment'] = popdfs['Segment'].str.replace('of enrolled population In Public School', 'Public School')
popdfs['Segment'] = popdfs['Segment'].str.replace('pof enrolled population In Private School', 'Private School')

popdfs = popdfs[~popdfs.State.str.contains('Puerto')]

popdfs

,State,Data,Year,Segment,Format
0,Alabama,"797,659",2019,Estimate,Total
1,Alabama,68.5%,2019,Estimate,Percent
2,Alabama,"701,921",2019,Public School,Number
3,Alabama,88.0%,2019,Public School,Percent
4,Alabama,"95,738",2019,Private School,Number
...,...,...,...,...,...
148,Wisconsin,87.5%,2010,of enrolled population In Public School,Percent
149,Wisconsin,12.5%,2010,of enrolled population In Private School,Percent
150,Wyoming,"94,404",2010,Estimate,Total
151,Wyoming,96.3%,2010,of enrolled population In Public School,Percent
152,Wyoming,3.7%,2010,of enrolled population In Private School,Percent

In [14]:
pop_11

                                                 State     Data  Year
0                             Alabama!!Total!!Estimate  839,657  2011
1    Alabama!!Percent of enrolled population !!In p...    88.7%  2011
2    Alabama!!Percent of enrolled population !!In p...    11.3%  2011
3                              Alaska!!Total!!Estimate  136,031  2011
4    Alaska!!Percent of enrolled population !!In pu...    92.8%  2011
..                                                 ...      ...   ...
151  Wyoming!!Percent of enrolled population !!In p...    94.1%  2011
152  Wyoming!!Percent of enrolled population !!In p...     5.9%  2011
153                       Puerto Rico!!Total!!Estimate  658,232  2011
154  Puerto Rico!!Percent of enrolled population !!...    77.2%  2011
155  Puerto Rico!!Percent of enrolled population !!...    22.8%  2011

[156 rows x 3 columns]