In [1]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [36]:
edu_fin_df = pd.read_csv('../Cleaned Datasets/edu_fin.csv')
edu_fin_totals_df = pd.read_csv('../Cleaned Datasets/edu_fin_totals.csv')
fa_df = pd.read_csv('../Cleaned Datasets/cleaned_fa_data.csv')

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [37]:
fa_df.head()

,Unnamed: 0,State,FIPS,Food Insecurity Rate,Number of Food Insecure Persons,Low Threshold in state,Low Threshold Type,High Threshold in state,High Threshold Type,% FI ≤ Low Threshold,% FI Btwn Thresholds,% FI > High Threshold,Weighted Annual Food Budget Shortfall,Cost Per Meal,Child food insecurity rate,Number of Food Insecure Children,% food insecure children in HH w/ HH incomes below 185 FPL,% food insecure children in HH w/ HH incomes above 185 FPL,Year
0,0,AK,2013.0,0.151,450.0,1.3,SNAP,1.85,other nutrition pgm,0.65,0.34,0.00,NaN,NaN,0.248,100.0,0.513,0.487,2009
1,1,AK,2016.0,0.136,750.0,1.3,SNAP,1.85,other nutrition pgm,0.50,0.33,0.17,NaN,NaN,0.178,100.0,0.327,0.673,2009
2,2,AK,2020.0,0.119,33260.0,1.3,SNAP,1.85,other nutrition pgm,0.34,0.15,0.51,NaN,NaN,0.186,13680.0,0.489,0.511,2009
3,3,AK,2050.0,0.211,3620.0,1.3,SNAP,1.85,other nutrition pgm,0.59,0.27,0.14,NaN,NaN,0.314,1940.0,0.75,0.25,2009
4,4,AK,2060.0,0.095,60.0,1.3,SNAP,1.85,other nutrition pgm,0.24,0.36,0.40,NaN,NaN,0.166,40.0,0.476,0.524,2009

In [38]:
edu_fin_df.head()

,STATE,IDCENSUS,NAME,COUNTY NUMBER,Consolidated Statistical Area,Core-Based Statistical Area,School Level Code,NCES Identification Number,Year of Data,Fall Membership,...,Total employee benefit payments - Enterprise operations,Long-term debt outstanding at beginning of the fiscal year,Long-term debt issued during the fiscal year,Long-term debt retired during the fiscal year,Long-term debt outstanding at end of fiscal year,Short-term debt outstanding at beginning of the fiscal year,Short-term debt outstanding at end of the fiscal year,"Cash and deposits, held at end of fiscal year - Debt service funds","Cash and deposits, held at end of fiscal year - Bond funds","Cash and deposits, held at end of fiscal year - Other funds"
0,1,1500100100000,AUTAUGA COUNTY SCHOOL DISTRICT,1001,N,33860,3,0100240,18,9247,...,0,61254,6056,2465,64845,0,0,3696,4527,12832
1,1,1500200100000,BALDWIN COUNTY SCHOOL DISTRICT,1003,380,19300,3,0100270,18,31782,...,0,440321,25000,7270,458051,0,0,31251,110488,99337
2,1,1500300100000,BARBOUR COUNTY SCHOOL DISTRICT,1005,N,21640,3,0100300,18,824,...,0,7863,0,193,7670,0,0,0,298,154
3,1,1500300200000,EUFAULA CITY SCHOOL DISTRICT,1005,N,21640,3,0101410,18,4619,...,0,5444,0,110,5334,0,0,66,1147,10510
4,1,1500400100000,BIBB COUNTY SCHOOL DISTRICT,1007,142,13820,3,0100360,18,3252,...,0,18531,0,1402,17129,0,0,1402,787,4018

In [56]:
for column in edu_fin_df.columns:
    print(column)

STATE
IDCENSUS
NAME
COUNTY NUMBER
Consolidated Statistical Area
Core-Based Statistical Area
School Level Code
NCES Identification Number
Year of Data
Fall Membership
TOTAL ELEMENTARY-SECONDARY REVENUE
Total Revenue from Federal Sources
Federal revenue through the state - Title I
Federal revenue through the state - Children with disabilities - IDEA
Federal revenue through the state - Math, science, and teacher quality
Federal revenue through the state - Safe and drug-free schools
Federal revenue through the state - Vocational and technical education
Federal revenue through the state - Bilingual education
Federal revenue through the state - All other
Federal revenue through the state - Child nutrition programs
Federal revenue - Nonspecified
Direct federal revenue - Impact aid
Direct federal revenue - Native American (Indian) education
Direct federal revenue - All other
Total Revenue from State Sources
General formula assistance
Staff improvement programs
Special education programs
Compensatory and basic skills attainment programs
Bilingual education programs
Gifted and talented programs
Vocational education programs
School lunch programs
Capital outlay and debt service programs
Transportation programs
All other revenues from state sources
Census state, NCES local revenue
State revenue - Nonspecified
State payments on behalf - Benefits
State payments on behalf - Nonbenefits
Total Revenue from Local Sources
Parent government contributions
Property taxes
General sales or gross receipts taxes
Public utility taxes
Individual and corporate income taxes
All other taxes
Revenue from other school systems
Revenue from cities and counties
Tuition fees from pupils, parents, and other private sources
Transportation fees from pupils, parents, and other private sources
School lunch revenues
Textbook sales and rentals
District activity receipts
Student fees, nonspecified
Other sales and service revenues
Rents and royalties
Sale of property
Interest earnings
Fines and forfeits
Private contributions
Miscellaneous other local revenues
TOTAL ELEMENTARY-SECONDARY EXPENDITURE
TOTAL CURRENT SPENDING FOR ELEMENTARY-SECONDARY PROGRAMS
TOTAL CURRENT SPENDING FOR INSTRUCTION
Current operation expenditure - Instruction
State payments on behalf - Instruction benefits
Own retirement system transfer - Instruction
State payments on behalf - Instruction nonbenefits
Exhibit - Payments to private schools
Exhibit - Payments to charter schools
TOTAL CURRENT SPENDING FOR SUPPORT SERVICES
Current operation expenditure - Pupil support
Current operation expenditure - Instructional staff support
Current operation expenditure - General administration
Current operation expenditure - School administration
Current operation expenditure - Operation and maintenance of plant
Current operation expenditure - Student transportation
Current operation expenditure - Business/central/other support services
Current operation expenditure - Nonspecified support services
State payments on behalf - Pupil support benefits
State payments on behalf - Instructional staff support benefits
State payments on behalf - General administration benefits
State payments on behalf - School administration benefits
State payments on behalf - Operation and maintenance of plant benefits
State payments on behalf - Student transportation benefits
State payments on behalf - Business/central/other support services benefits
Own retirement system transfer - Support services
State payments on behalf - Support services, nonbenefits
TOTAL CURRENT SPENDING FOR OTHER ELEMENTARY-SECONDARY PROGRAMS
Current operation expenditure - Food services
Current operation expenditure - Enterprise operations
Current operation expenditure - Other elementary-secondary programs
State payments on behalf - Other benefits
State payments on behalf - Noninstructional and nonbenefits
TOTAL CURRENT SPENDING FOR NONELEMENTARY-SECONDARY PROGRAMS
Current operation expenditure - Community services
Current operation expenditure - Adult education
Current operation expenditure - Other nonelementary-secondary programs
State payments on behalf - Nonelementary-secondary programs
TOTAL CAPITAL OUTLAY EXPENDITURE
Construction
Purchase of land and existing structures
Instructional equipment
Other equipment
Nonspecified equipment
State payments on behalf - Capital outlay
Payments to state governments
Payments to local governments
Payments to other school systems
Interest on school system debt
Total salaries and wages
Total salaries and wages - Instruction
Total salaries and wages - Pupil support
Total salaries and wages - Instructional staff support
Total salaries and wages - General administration
Total salaries and wages - School administration
Total salaries and wages - Operation and maintenance of plant
Total salaries and wages - Student transportation
Total salaries and wages - Business/central/other support services
Total salaries and wages - Food services
Total employee benefit payments
Total employee benefit payments - Instruction
Total employee benefit payments - Pupil support
Total employee benefit payments - Instructional staff
Total employee benefit payments - General administration
Total employee benefit payments - School administration
Total employee benefit payments - Operation and maintenance of plant
Total employee benefit payments - Student transportation
Total employee benefit payments - Business/central/other support services
Total employee benefit payments - Food services
Total employee benefit payments - Enterprise operations
Long-term debt outstanding at beginning of the fiscal year
Long-term debt issued during the fiscal year
Long-term debt retired during the fiscal year
Long-term debt outstanding at end of fiscal year
Short-term debt outstanding at beginning of the fiscal year
Short-term debt outstanding at end of the fiscal year
Cash and deposits, held at end of fiscal year - Debt service funds
Cash and deposits, held at end of fiscal year - Bond funds
Cash and deposits, held at end of fiscal year - Other funds

In [57]:
edu_fin_totals_df.columns

Index(['Unnamed: 0', 'STATE', 'IDCENSUS', 'NAME', 'COUNTY NUMBER',
       'TOTAL ELEMENTARY-SECONDARY REVENUE',
       'Total Revenue from Federal Sources',
       'Total Revenue from State Sources', 'Total Revenue from Local Sources',
       'TOTAL ELEMENTARY-SECONDARY EXPENDITURE',
       'TOTAL CURRENT SPENDING FOR ELEMENTARY-SECONDARY PROGRAMS',
       'TOTAL CURRENT SPENDING FOR INSTRUCTION',
       'TOTAL CURRENT SPENDING FOR SUPPORT SERVICES',
       'TOTAL CURRENT SPENDING FOR OTHER ELEMENTARY-SECONDARY PROGRAMS',
       'TOTAL CURRENT SPENDING FOR NONELEMENTARY-SECONDARY PROGRAMS',
       'TOTAL CAPITAL OUTLAY EXPENDITURE', 'Total salaries and wages',
       'Total salaries and wages - Instruction',
       'Total salaries and wages - Pupil support',
       'Total salaries and wages - Instructional staff support',
       'Total salaries and wages - General administration',
       'Total salaries and wages - School administration ',
       'Total salaries and wages - Operation and maintenance of plant',
       'Total salaries and wages - Student transportation',
       'Total salaries and wages - Business/central/other support services',
       'Total salaries and wages - Food services',
       'Total employee benefit payments',
       'Total employee benefit payments - Instruction',
       'Total employee benefit payments - Pupil support',
       'Total employee benefit payments - Instructional staff',
       'Total employee benefit payments - General administration',
       'Total employee benefit payments - School administration',
       'Total employee benefit payments - Operation and maintenance of plant',
       'Total employee benefit payments - Student transportation',
       'Total employee benefit payments - Business/central/other support services',
       'Total employee benefit payments - Food services',
       'Total employee benefit payments - Enterprise operations'],
      dtype='object')

In [39]:
edu_fin_totals_df.head()

,Unnamed: 0,STATE,IDCENSUS,NAME,COUNTY NUMBER,TOTAL ELEMENTARY-SECONDARY REVENUE,Total Revenue from Federal Sources,Total Revenue from State Sources,Total Revenue from Local Sources,TOTAL ELEMENTARY-SECONDARY EXPENDITURE,...,Total employee benefit payments - Instruction,Total employee benefit payments - Pupil support,Total employee benefit payments - Instructional staff,Total employee benefit payments - General administration,Total employee benefit payments - School administration,Total employee benefit payments - Operation and maintenance of plant,Total employee benefit payments - Student transportation,Total employee benefit payments - Business/central/other support services,Total employee benefit payments - Food services,Total employee benefit payments - Enterprise operations
0,0,1,1500100100000,AUTAUGA COUNTY SCHOOL DISTRICT,1001,82258,7240,55611,19407,81386,...,11810,960,422,212,1293,737,1857,136,1099,0
1,1,1,1500200100000,BALDWIN COUNTY SCHOOL DISTRICT,1003,372175,25803,159101,187271,339125,...,42532,4314,2492,506,5207,4051,3870,824,3001,0
2,2,1,1500300100000,BARBOUR COUNTY SCHOOL DISTRICT,1005,10016,2269,5425,2322,10483,...,1180,113,44,154,153,72,211,25,143,0
3,3,1,1500300200000,EUFAULA CITY SCHOOL DISTRICT,1005,35701,3849,24304,7548,34594,...,3847,374,112,179,532,311,142,165,371,0
4,4,1,1500400100000,BIBB COUNTY SCHOOL DISTRICT,1007,33360,3811,22704,6845,32480,...,4158,414,313,174,569,246,690,120,486,0

# Do states with more food insecurity in children get more revenue from federal sources?

Starting with just year: 2018 - finance, 2017 - feeding america

In [12]:
edu_fin_totals_df['STATE'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51])

In [24]:
fa_df['State'].unique()

array(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
       'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
       'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
       'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'], dtype=object)

In [17]:
mask = fa_df['State'].isnull()
fa_df[mask]

,Unnamed: 0,State,FIPS,Food Insecurity Rate,Number of Food Insecure Persons,Low Threshold in state,Low Threshold Type,High Threshold in state,High Threshold Type,% FI ≤ Low Threshold,% FI Btwn Thresholds,% FI > High Threshold,Weighted Annual Food Budget Shortfall,Cost Per Meal,Child food insecurity rate,Number of Food Insecure Children,% food insecure children in HH w/ HH incomes below 185 FPL,% food insecure children in HH w/ HH incomes above 185 FPL,Year
3137,3137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.830607e+07,NaN,NaN,2009
3138,3138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.064492e+00,NaN,NaN,2009
3139,3139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009
3140,3140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009
3141,3141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3200,3200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009
3201,3201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,736.0,NaN,NaN,NaN,2009
3202,3202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1915.0,NaN,NaN,NaN,2009
3203,3203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,479.0,NaN,NaN,NaN,2009
3204,3204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,2009

In [22]:
fa_df.dropna(subset=['State'],inplace=True)

In [25]:
states = list(edu_fin_totals_df['STATE'].unique())
ids = list(fa_df['State'].unique())

In [28]:
states_to_ids = dict(zip(states,ids))

In [34]:
edu_fin_df['Year of Data'].unique()

array([18])

In [49]:
mask = fa_df['Year'] == 2017
fa_17_df = fa_df[mask]

In [50]:
fa_17_df.head()

,Unnamed: 0,State,FIPS,Food Insecurity Rate,Number of Food Insecure Persons,Low Threshold in state,Low Threshold Type,High Threshold in state,High Threshold Type,% FI ≤ Low Threshold,% FI Btwn Thresholds,% FI > High Threshold,Weighted Annual Food Budget Shortfall,Cost Per Meal,Child food insecurity rate,Number of Food Insecure Children,% food insecure children in HH w/ HH incomes below 185 FPL,% food insecure children in HH w/ HH incomes above 185 FPL,Year
25203,0,AL,1001.0,0.132,7270.0,1.3,SNAP,1.85,Other Nutrition Program,0.485,0.144,0.371,3957000.0,3.19,0.198,2670.0,0.66,0.34,2017
25204,1,AL,1003.0,0.116,23560.0,1.3,SNAP,1.85,Other Nutrition Program,0.455,0.144,0.401,14361000.0,3.57,0.189,8480.0,0.66,0.34,2017
25205,2,AL,1005.0,0.220,5760.0,1.3,SNAP,1.85,Other Nutrition Program,0.601,0.171,0.229,3035000.0,3.09,0.276,1520.0,0.79,0.21,2017
25206,3,AL,1007.0,0.143,3240.0,1.3,SNAP,1.85,Other Nutrition Program,0.459,0.185,0.356,1684000.0,3.05,0.221,1050.0,0.84,0.16,2017
25207,4,AL,1009.0,0.107,6140.0,1.3,SNAP,1.85,Other Nutrition Program,0.542,0.206,0.253,3249000.0,3.10,0.212,2880.0,0.76,0.24,2017

In [92]:
fa_17 = fa_17_df[['State','FIPS','Child food insecurity rate']].copy()

In [106]:
relevant_columns = ['COUNTY NUMBER','NAME','Total Revenue from Federal Sources',
                   'Total Revenue from State Sources','Total Revenue from Local Sources']

In [107]:
edu_fin = edu_fin_df[relevant_columns].copy()

In [69]:
fa_17.dtypes

State                          object
FIPS                          float64
Child food insecurity rate     object
dtype: object

In [96]:
edu_fin.dtypes

COUNTY NUMBER                         int64
Total Revenue from Federal Sources    int64
Total Revenue from State Sources      int64
Total Revenue from Local Sources      int64
dtype: object

In [93]:
fa_17['FIPS'] = fa_17['FIPS'].astype('int64')

In [94]:
fa_17

      State   FIPS Child food insecurity rate
25203    AL   1001                      0.198
25204    AL   1003                      0.189
25205    AL   1005                      0.276
25206    AL   1007                      0.221
25207    AL   1009                      0.212
...     ...    ...                        ...
28340    WY  56037                       0.17
28341    WY  56039                      0.117
28342    WY  56041                      0.189
28343    WY  56043                      0.174
28344    WY  56045                      0.202

[3142 rows x 3 columns]

In [109]:
edu_fin.rename(columns={'COUNTY NUMBER':'FIPS'},inplace=True)

In [113]:
merged = pd.merge(fa_17,edu_fin,on=['FIPS'])

In [103]:
edu_fin['FIPS'].value_counts()

17031    161
6037      91
34003     76
36103     68
4013      58
        ...
51195      1
47101      1
47097      1
47139      1
46061      1
Name: FIPS, Length: 3122, dtype: int64

In [112]:
mask = edu_fin['FIPS'] == 17031
edu_fin[mask]

,FIPS,NAME,Total Revenue from Federal Sources,Total Revenue from State Sources,Total Revenue from Local Sources
2578,17031,ARBOR PARK SCHOOL DISTRICT 145,1019,11794,10428
2579,17031,ARGO COMMUNITY HIGH SCHOOL DISTRICT 217,2352,21117,27963
2580,17031,ARLINGTON HEIGHTS SCHOOL DISTRICT 25,2512,35924,68832
2581,17031,TOWNSHIP HIGH SCHOOL DISTRICT 214,6698,106908,228052
2582,17031,ATWOOD HEIGHTS SCHOOL DISTRICT 125,376,6194,5893
...,...,...,...,...,...
2735,17031,SOUTHWEST COOK COUNTY COOP ASSOCIATION SPECIAL...,8290,9780,20032
2736,17031,SOUTH COOK COUNTY SPECIAL EDUCATION COOPERATIV...,2241,6275,22082
2737,17031,NORTHWEST SUBURBAN SPECIAL EDUCATION ORGANIZATION,2085,11858,44911
2738,17031,HOMEWOOD-FLOSSMOOR COMMUNITY HIGH SCHOOL DISTR...,746,30798,43493
2739,17031,RIDGEWOOD COMMUNITY HIGH SCHOOL DISTRICT 234,683,6533,18250

In [114]:
mask = merged['FIPS'] == 17031
merged[mask]

,State,FIPS,Child food insecurity rate,NAME,Total Revenue from Federal Sources,Total Revenue from State Sources,Total Revenue from Local Sources
2577,IL,17031,0.158,ARBOR PARK SCHOOL DISTRICT 145,1019,11794,10428
2578,IL,17031,0.158,ARGO COMMUNITY HIGH SCHOOL DISTRICT 217,2352,21117,27963
2579,IL,17031,0.158,ARLINGTON HEIGHTS SCHOOL DISTRICT 25,2512,35924,68832
2580,IL,17031,0.158,TOWNSHIP HIGH SCHOOL DISTRICT 214,6698,106908,228052
2581,IL,17031,0.158,ATWOOD HEIGHTS SCHOOL DISTRICT 125,376,6194,5893
...,...,...,...,...,...,...,...
2733,IL,17031,0.158,SOUTHWEST COOK COUNTY COOP ASSOCIATION SPECIAL...,8290,9780,20032
2734,IL,17031,0.158,SOUTH COOK COUNTY SPECIAL EDUCATION COOPERATIV...,2241,6275,22082
2735,IL,17031,0.158,NORTHWEST SUBURBAN SPECIAL EDUCATION ORGANIZATION,2085,11858,44911
2736,IL,17031,0.158,HOMEWOOD-FLOSSMOOR COMMUNITY HIGH SCHOOL DISTR...,746,30798,43493
2737,IL,17031,0.158,RIDGEWOOD COMMUNITY HIGH SCHOOL DISTRICT 234,683,6533,18250

In [124]:
merged['Child food insecurity rate'].corr(merged['Total Revenue from Federal Sources'])

0.02845005364798767

In [129]:
merged['FIPS'].corr(merged['Total Revenue from Federal Sources'])

-0.031120593957450312

In [117]:
merged.dtypes

State                                 object
FIPS                                   int64
Child food insecurity rate            object
NAME                                  object
Total Revenue from Federal Sources     int64
Total Revenue from State Sources       int64
Total Revenue from Local Sources       int64
dtype: object

In [121]:
merged['Child food insecurity rate'] = merged['Child food insecurity rate'].astype('float')